header {
  background-color: #242424;
  min-height: 36px;
  padding: 18px;
}

html, body {
  background-color: #202020;
  margin: 0;
  padding: 0;
}

nav a {
  display:inline;
  margin-right: 1.8%;
  border-right: 8px solid #363636;
  padding: 0.6%;
  padding-left: 1%;
  padding-top: 0.3%;

  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
nav a:hover {
  transition-duration: 300ms;
  border-right-color: #00C0EA;
  background-color: #363636;
  border-radius: 2px;
  cursor: pointer;
}

.posts {
  width:80%;
  max-width: 100rem;
/*   max-height: 33%; */
  position: relative;
  box-shadow: 0 0 12px #00C0EA;
  /* padding: .4%; */
}
.posts:hover {
  border-left: 1em solid #00C0EA;
  box-shadow: 0 0 20px #00C0EA;
}
