body {
  background-color: #242424;
}
form {
  width: 200px;
  height: 150px;
  padding:18px;

  margin-top: 10%;
  margin-left: 30%;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 6px;

  color:#ffffff;
  box-shadow: 0 0 18px #cccccc;
}

input {
  height: 18px;
  border: none;
  border-radius: 5px;
  margin: 6px;

  background-color: #424242;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
}
.inputs:hover {
  width: 80%;
  background-color: #265b5f;
}
.buttons {
  width: 80px;
  height: 20px;
  position: relative;
}
.buttons:hover {
  background-color: #265b5f;
}
