body {
  background-color: #202020;
}
form {
  text-align: center;
  width: 280px;
  height: 160px;
  /* padding:18px; */
  margin: auto;
  margin-top: 10%;
  border: 1px solid #202020;
  border-radius: 3px;
  box-shadow: 0 0 12px #00C0EA;

  color:#ffffff;
  font-size: 18px;
}
form:hover {
  box-shadow: 0 0 36px #00C0EA;
  transition-duration: 260ms;
}

.inputs {
  height: 24px;
  width: 80%;
  border: 1px solid #363636;
  border-radius: 5px;
  margin: 6px;
  /* margin-left: 14%; */

  background-color: #363636;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
.inputs:first-child {
  width: 70%;
  margin-top: 6%;
}
.inputs:hover {
  transition-duration: 180ms;
  transition-property: width;
  border: 1px solid #00C0EA;
  width: 72.6%;
}
input[type="password"] {
  width: 70%;
}

.buttons {
  height: 28px;
  width: 40%;
  border: none;
  border-radius: 5px;
  margin: 12px;

  background-color: #363636;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
.buttons:hover {
  border: 1px solid #00C0EA;
}
::placeholder {
  color: white;
  font-weight: normal;
}
