body {
  background-color: #242424;
}
form {
  width: 300px;
  border: 1px solid #ffffff;
  margin: 0 auto;
  padding: 18px;
  border-radius: 3px;
  border-shadow: 0px 0px 6px #cccccc;
}
input {
  margin-bottom: 9px;
  
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

input[text],
input[password] {
  width: 90%;
  height: 18px;
  
  border-radius: 3px;
  border: 1px solid #cccccc;
}

input[submit] {
  width: 60%;
  background-color: teal;
  
  border:none;
  
}
